@import "variables";

html, body {
  background-color: #000;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Codystar', sans-serif;
  cursor: default;
}

main {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

div {
  &.game-container {
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.game-area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: $game-width;
    height: $game-height;
    overflow: hidden;
    &.player-two {
      border-left: 1px solid #fff;
    }
  }
  &.active-area {
    position: absolute;
    background-color: transparent;
    width: $game-width;
    height: $game-height / 6;
    top: 0;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  &.quit-button-container {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: left;
  }
  &.health-bar-container {
    border: 1px solid #fff/*#8c8c8c*/;
    width: $game-width * 0.7;
    height: 8px;
    align-self: flex-start;
    margin-top: 4px;
  }
  &.health-bar {
    background-color: #fff/*#8c8c8c*/;
    width: $game-width * 0.7;
    height: 8px;
  }
  &.title-and-buttons-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    height: 60%;
    width: 60%;
  }
  &.buttons-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 30%;
    width: 100%;
    margin-bottom: 10%;
  }
  &.message-area {
    font-size: 2em;
    text-align: center;
  }
  &.input-arrow-container {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
  }
  &.input-arrow {
    transition-duration: 80ms;
    position: absolute;
    width: $arrow-width;
    height: $arrow-height;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &.left {
      background-image: url('/public/images/left-arrow-icon-grey.png');
      left: calc((#{$game-width} * 7/10 * 1/8 - #{$arrow-width}/2) + #{$game-width} * 15/100);
      &.pressed {
        left: calc((#{$game-width} * 7/10 * 1/8 - #{$arrow-width} * 1.1/2) + #{$game-width} * 15/100);
      }
    }
    &.up {
      background-image: url('/public/images/up-arrow-icon-grey.png');
      left: calc((#{$game-width} * 7/10 * 3/8 - #{$arrow-width} / 2) + #{$game-width} * 15/100);
      &.pressed {
        left: calc((#{$game-width} * 7/10 * 3/8 - #{$arrow-width} * 1.1/2) + #{$game-width} * 15/100);
      }
    }
    &.down {
      background-image: url('/public/images/down-arrow-icon-grey.png');
      left: calc((#{$game-width} * 7/10 * 5/8 - #{$arrow-width} / 2) + #{$game-width} * 15/100);
      &.pressed {
        left: calc((#{$game-width} * 7/10 * 5/8 - #{$arrow-width} * 1.1/2) + #{$game-width} * 15/100);
      }
    }
    &.right {
      background-image: url('/public/images/right-arrow-icon-grey.png');
      left: calc((#{$game-width} * 7/10 * 7/8 - #{$arrow-width} / 2) + #{$game-width} * 15/100);
      &.pressed {
        left: calc((#{$game-width} * 7/10 * 7/8 - #{$arrow-width} * 1.1/2) + #{$game-width} * 15/100);
      }
    }
    &.pressed {
      width: $arrow-width * 1.1;
      height: $arrow-height * 1.1;
    }
  }
  &.arrow {
    position: absolute;
    width: $arrow-width;
    height: $arrow-height;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &.left {
      background-image: url('/public/images/left-arrow-icon-white.png');
      left: calc((#{$game-width} * 7/10 * 1/8 - #{$arrow-width}/2) + #{$game-width} * 15/100);
    }
    &.up {
      background-image: url('/public/images/up-arrow-icon-white.png');
      left: calc((#{$game-width} * 7/10 * 3/8 - #{$arrow-width}/2) + #{$game-width} * 15/100);
    }
    &.down {
      background-image: url('/public/images/down-arrow-icon-white.png');
      left: calc((#{$game-width} * 7/10 * 5/8 - #{$arrow-width}/2) + #{$game-width} * 15/100);
    }
    &.right {
      background-image: url('/public/images/right-arrow-icon-white.png');
      left: calc((#{$game-width} * 7/10 * 7/8 - #{$arrow-width}/2) + #{$game-width} * 15/100);
    }
  }
  &.hidden {
    display: none;
  }
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

button {
  width: 100%;
  height: 30%;
  font-family: 'Codystar', sans-serif;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 1.5em;
  transition-duration: 300ms;
  &.quit {
    position: relative;
    width: auto;
  }
}

button:hover {
  font-size: 1.7em;
  cursor: pointer;
}

button:focus {
  font-size: 1em;
  outline:none;
}

.hidden {
  display: none;
}
