@import "variables";

html, body {
  background-color: #fff;
  color: #000;
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

div {
  &.game-area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $game-width;
    height: $game-height;
    border: 2px solid #000;
  }
  &.active-area {
    position: absolute;
    background-color: #999;
    width: $game-width;
    height: $game-height / 6;
    top: 0;
  }
  &.health-bar-container {
    border: 1px solid #000;
    width: $game-width * 0.6;
    height: 10px;
  }
  &.health-bar {
    background-color: #000;
    width: $game-width * 0.6;
    height: 10px;
  }
  &.arrow {
    position: absolute;
    width: $arrow-width;
    height: $arrow-height;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &.left {
      background-image: url('../images/left-arrow-icon-black.png');
      left: calc((#{$game-width} * 7/10 * 1/8 - #{$arrow-width}/2) + #{$game-width} * 15/100);
    }
    &.up {
      background-image: url('../images/up-arrow-icon-black.png');
      left: calc((#{$game-width} * 7/10 * 3/8 - #{$arrow-width}/2) + #{$game-width} * 15/100);
    }
    &.down {
      background-image: url('../images/down-arrow-icon-black.png');
      left: calc((#{$game-width} * 7/10 * 5/8 - #{$arrow-width}/2) + #{$game-width} * 15/100);
    }
    &.right {
      background-image: url('../images/right-arrow-icon-black.png');
      left: calc((#{$game-width} * 7/10 * 7/8 - #{$arrow-width}/2) + #{$game-width} * 15/100);
    }
    &.hit {
      display: none;
    }
  }
}

.hidden {
  display: none;
}
